<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        
        <nav>

            <ul>

                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/teams">Teams Index</a>
                </li>

            </ul>

        </nav>

    </header>   

    <main>

        <section>
            <h2>Team Information</h2>
            <ul>
                <li>Name: <%= team.name %></li>
            </ul>
        </section>
        <section>
            <ul>
                <li>Name: <%= team.hometown %></li>
            </ul>
        </section>
        <section>
            <ul>
                <li>Name: <%= team.conference %></li>
            </ul>
        </section>
        <section>
            <ul>
                <li>Name: <%= team.division %></li>
            </ul>
        </section>

    </main>

</body>
</html>